version: '3.8'
services:
  app:
    build: .
    image: dogwatcher_app
    environment:
      STREAM_1_URL: ""
      STREAM_2_URL: ""
      STREAM_1_NAME: ""
      STREAM_2_NAME: ""
    ports:
      - "5001:5001"
    restart: unless-stopped
    volumes:
      - ./:/app:ro
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
