version: '3.8'
services:
  app:
    build: .
    image: dogwatcher_app
    env_file: 
      - .env
    ports:
      - "5001:5001"
    restart: unless-stopped
    volumes:
      - ./:/app:ro
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
